@model List<GameForm.Models.Discussion>;

@{
    // code block
    ViewData["Title"] = "Home Page";

    string name = "Hiren";
}

<h1>All GAMES</h1>
<h1>@name</h1>

@* @foreach (var item in Model) *@
@* { *@
@*     <p> *@
@*         @item.DiscussionId<br /> *@
@*         @item.Title<br /> *@
@*         @item.Content<br /> *@
@*         @item.ImageFilename<br /> *@
@*         @item.CreateDate<br /> *@
@*         <a asp-controller="Home" asp-action="PhotoDetails" asp-route-id="@item.Comments">Display Comments</a> *@
@*     </p> *@
@* } *@


@* <a href="/Home/PhotoDetails/@item.PhotoId">Display Photo</a> *@